*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: rgb(0, 73, 67);
    color: #ffffffa9;
    height:96vh;
   
  margin: 0%;
  padding : 2%;
     transition: all 0.5s; 
}
.top_section{
    display: flex;
    align-items:center;
    padding:30px 10px;
}
.logo{
    font-size: 28px;
}
.bars{
    display: flex;
    font-size: 30px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: rgb(1, 51, 97);
}
.icon, .link_text{
    font-size: 16px;
}
